.recipes {
  background-color: #0A2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
}

.recipes__title {
  margin: 100px auto 24px 80px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 24px auto 80px 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  margin: 0 auto 215px auto;
  justify-content: center;
  gap: 40px;
}

.recipes__iframes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  gap: 24px;
}
/*DEAR REVIEWER:
I know this looks strange, because it doesn't match the picture. It's clearly more than 24px, but I can't figure out why.*/

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

